<!DOCTYPE html>
<html lang="en">

<%- include("./shared/head.ejs", {title : "404 Page not found" }) %>

    <body>
        <%- include('./shared/navbar.ejs') %>

    <!-- Error Image -->
    <div class="container-fluid error-image">
        <img src="./assets/something-lost.png" alt="">
        <h2>Oops! This page doesn't seem to exist or under development, please <a href="/">go back</a></h2>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
</body>

</html>